body{
   background-image: url(./assets/fondo_navidad.jpg);
}

.aa{
   display: flex;
   justify-content: center;
}

.container{
   background-color: aqua;
   display: flex;
   width: 50rem;
   height: 50rem;
   justify-content: center;
   align-items: center;
}

.box{
   background-color: white;
   width: 70%;
   height: 30%;
   margin: 2px;
   padding: 5px;
}
